/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
# Intellij
*.iws
/bootstrap/compiled.php
/.idea
public/storage
public/hot
storage/*.key
vendor/
node_modules/
npm-debug.log
/public/uploads/
.vscode/

